<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.redsoft.magician.core.auth.mapper.SysUserMapper">

	<select id="getById" resultType="cn.redsoft.magician.core.common.entity.SysUser">
		select * from sys_user where id = #{id} and del_flag = '0'
	</select>

	<select id="getByUsername" resultType="cn.redsoft.magician.core.common.entity.SysUser">
		select * from sys_user where user_name = #{userName} and del_flag = '0'
	</select>

	<select id="getByPhone" resultType="cn.redsoft.magician.core.common.entity.SysUser">
		select * from sys_user where phone = #{phone} and del_flag = '0'
	</select>

</mapper>


